<!DOCTYPE html>
<html ng-app="Chat">
<head>
    <title>Angular-Enhance-Text Example</title>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="../build/angular-enhance-text.js"></script>
    <script type="text/javascript">
        var app = angular.module('Chat', ['bernhardposselt.enhancetext']).
            config(function (enhanceTextFilterProvider) {
                enhanceTextFilterProvider.setOptions({
                    embeddedYoutubeHeight: 315,
                    embeddedYoutubeWidth: 560, 
                    smilies: {
                        ';)': 'img/smileys/smiley_zwinker.svg',  // cc-by-sa, Karsten Janke, oberth-media.de
                        '^^': 'img/smileys/smiley_froh.svg',
                        ':D': 'img/smileys/smiley_grinsepeter.svg',
                        ':)': 'img/smileys/smiley_happy.svg',
                        ':(': 'img/smileys/smiley_traurig.svg',
                        ':P': 'img/smileys/smiley_zunge.svg'
                    }
                });
            }).
            controller('ChatController', function ($scope) {
                $scope.messages = [
                    {id: 0, msg: "Hi have you seen this video yet ;) ? http://www.youtube.com/watch?v=ijAW3bskN0o"}
                ];
                $scope.addMessage = function(event) {
                    if (event.keyCode === 13 && !event.shiftKey) {
                        var msg = {
                            id: $scope.messages.length,
                            msg: $scope.input
                        }
                        $scope.messages.push(msg);
                        $scope.input = '';
                    }
                }
            });
    </script>
</head>
<body>

<div ng-controller="ChatController">
    <div>
        <ul>
            <li ng-repeat="message in messages">
                <span ng-bind-html="message.msg | enhanceText"></span>
            </li>
        </ul>
    </div>
    <form>
        <textarea ng-model="input" ng-keyup="addMessage($event)"></textarea>
        <input type="submit" value="send" ng-click="addMessage(13)"/>
    </form>
</div>

</body>
</html>